<h3>＊　予定済み一覧　＊</h3>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Guest ID</th>
      <th>予約者</th>
      <th>Email</th>
      <th>予約 ID</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= link_to guest.id %></td>
        <td><%= link_to guest.parson_no %></td>
        <td><%= link_to guest.email %></td>
        <td><%= link_to guest.yoyaku_id %></td>
      </tr>
  </tbody>
</table>