<!-- _yoyaku_info.html.erb -->
<div class="schedule">＊予約フォーム＊</div>
<p>日時を確認の上、調整が可能であれば予約ボタンをクリックしてください!!</p>
<p id="notice"><%= notice %></p>
<div class="show">

<div class="yoyaku-info">
  <p><strong>■ 日時</strong>: <%= yoyaku.start_time.strftime("%m-%d %H:%M") %></p>
  <p><strong>■ 予約内容</strong>: <%= yoyaku.title %></p>
  
  <!-- 他の詳細情報をここに追加 -->
</div>